@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url('/src/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
}


.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  height: 90vh;
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 5fr;
  background: linear-gradient(to right, #ff8484 -300%, #ffffff 80%);
  box-shadow: rgba(255, 132, 132, 0.2) -60px 40px;  
}

/* LEFT BAR */
.container .left-bar {
  grid-row: 1 / span 2;
  background: linear-gradient(to bottom, #ff3366 50%, #333 120%);
}
.container .left-bar .logo-dark {position: relative; top: 3rem;}
.container .left-bar .logo-dark a {
  display: block;
  background-color: #ffffff;

}
.container .left-bar .logo-dark a img {
  display: block;
  margin: auto;
}

/* NAV-BAR */
nav {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* nav-logo */
nav .logo {
  font-size: 3vw;
  text-transform: uppercase;
  display: block;
}

nav .logo a {
  color: #ff3366;
}

nav .logo-right {
  display: inline-flex;
  align-items: center;
  background-color: #ff3366;
  padding: 2vw;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
nav .logo-right a {padding-right: 2vw; color: #ffffff;}

/* nav-links */
nav .links {
  padding-top: 3vw;
  font-size: 2vw;
  list-style: none;
  position: relative;

}

nav .links li {
  display: inline;
  padding: 1vw;
}

nav .links li a {color: #ff3366;}

/* active triangle */
a.active::before {
  position: absolute;
  top: 0;
  content: '';
  border-top: 3vw #ff3366 solid;
  border-left: 3vw transparent solid;
  border-right: 3vw transparent solid;
}

/* CONTENT */
.content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* CONTENT-START */
.content .start {
  width: 90%;
  margin: 5vw auto;
  position: absolute;
  left: 80vw;
  transition: 1s;
}

/* claim-start */
.content .start .claim {
  width: 100%;
}
.content .start .claim .title {
  color: #ff3366;
  font-size: 3vw;
}

/* subcontent-start */
.content .start .sub-content {
  padding-top: 3vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.content .start .sub-content .paragraph {
  font-size: 1.5vw;
  line-height: 3vw;
  text-align: left;
}

.content .start .kontakt-btn {
  
  width: 80%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.content .start .kontakt-btn .button {
  color: #fff;
  background: linear-gradient(140deg, #ff8484 5%, #ff3366 100%);
  box-shadow: rgba(255, 51, 102, 0.4) 10px 30px 60px 0px;
  border-radius: 2rem;
  font-size: 1.6vw;
  padding: 2vw;
}

/* CONTENT-KONTAKT */
.content .kontakt {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  position: absolute;
  left: 80vw;
  top: 0;
  right: 0;
  transition: 1s;
}

.content .kontakt .text {
  white-space: pre-line;
  text-align: center;
  text-transform: uppercase;
  line-height: 2vw;
  margin: auto;
  color: #ff3366;
  font-size: 1.3vw;
  font-weight: lighter;
}

.content .kontakt .text .address {
  font-size: 1.2vw;
}

/* kontakt-box*/
.content .kontakt .kontakt-box {
  margin-top: 2vw;
  background-color: #333;
  color: #fff; /* */

  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 12fr;
  align-items: center;
  padding: 0 1vw;
  border-radius: 1rem;
}

.content .kontakt .kontakt-box .bar {
  background: linear-gradient(to bottom,#ff3366, #ff8484);

  display: inline-block;
  height: 100%;
  width: 1vw;

}

.content .kontakt .kontakt-box .form .sec h1 {font-size: 1vw;}
.content .kontakt .kontakt-box .form .sec .text-box {
  display: flex;
  padding-bottom: 1vw;
  position: relative;

}

.content .kontakt .kontakt-box .form .sec .text-box .tape {
  position: relative;
  background-color: #ff3366;
  border-radius: 5rem;
  width: 10vw;
  height: 20px;
}

.content .kontakt .kontakt-box .form .sec .text-box input {
  position: absolute;
  left: 7vw;
  bottom: 1vw;

  border: none;
  border-radius: 5rem;

  width: 15vw;
  height: 1vw;
  font-size: 1vw;
  padding: 6px 12px;
  outline: none;
}


.content .kontakt .kontakt-box .form .sec textarea {
  width: 22.3vw; 
  font-size: 1vw;
  border-radius: 1rem;
  padding: 8px;
  outline: none;
  background: linear-gradient(45deg, #ff8484 -150%, #fff 50%);
}

/* CONTENT-WORK */
.content .work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: 5vw auto;
  position: absolute;
  left: 80vw;
  transition: 1s;
}

.content .work .icons {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw;
  grid-template-rows: 10vw 10vw;

}

.content .work .icons img {
  width: 12vw;
}

.content .work .title {
  color: #ff3366;
  font-size: 3vw;
}

.content .work .paragraph {
  padding-top: 3vw;
  line-height: 3vw;
  font-size: 1.5vw;
}

.content .work .kontakt-btn {
  position: absolute;
  bottom: 0;
  right: 8vw;
}

.content .work .kontakt-btn .button {
  color: #fff;
  background: linear-gradient(140deg, #ff8484 5%, #ff3366 100%);
  box-shadow: rgba(255, 51, 102, 0.4) 10px 30px 60px 0px;
  border-radius: 2rem;
  font-size: 1.6vw;
  padding: 2vw;
}

.content .display {
  left: 5vw;
}

/* impressum */
.ipm {
  position: absolute;
  bottom: 1rem;
  right: 10vw;
  color: #fff;
  font-size: 1vw;
}


/* CONTENT SWITCHER */
.content-switcher {
  /* background-color: black; */
  display: flex;
  position: absolute;
  bottom: 0;
  left: 42%;
  
  
}

.content-switcher .section {
  background-color: #c8c8c8;
  border: 0.1vw solid #848484;
  padding: 1vw;
  margin: 1rem 5px;
  border-radius: 50%;
  cursor: pointer;
}

.content-switcher .active {
  background: linear-gradient(to bottom, #ff3366, #ff8484);
}

/* .content-switcher #start {
  background: linear-gradient(to bottom, #ff3366, #ff8484);
}

.content-switcher #kontakt {
  background: linear-gradient(to bottom, #ff3366, #ff8484);
}

.content-switcher #work {
  background: linear-gradient(to bottom, #ff3366, #ff8484);
} */







