@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('/src/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
}


.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;

}

.container {
  height: 70vh;
  width: 70vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 2fr 6fr;
  background: linear-gradient(to right, #ff8484 -300%, #ffffff 80%);
  box-shadow: rgba(255, 132, 132, 0.2) -60px 40px;  
}

/* LEFT BAR */
.container .left-bar {
  grid-row: 1/ span 2;
  background: linear-gradient(to bottom, #ff3366 50%, #333 120%);
}
.container .left-bar .logo-dark {position: relative; top: 3rem;}
.container .left-bar .logo-dark a {
  display: block;
  background-color: #ffffff;

}
.container .left-bar .logo-dark a img {
  display: block;
  margin: auto;
}

.ipm {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.lightLogo {
  position: absolute;
  right: 2rem;
  top:3rem;
  z-index:10;

}

/* NAV-BAR */
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.logo div {
  font-size: 3rem;
  display: inline-block;
}
.logo div:first-of-type{
  color: #ff3366;
}

.logo div:last-of-type{
  color: #fff;
  background-color: #ff3366;
  height: 100%;
  display: grid;
  align-items:center;
  justify-content: center;
  border-bottom-left-radius: 8px;
  z-index:10;
}

.logo div:last-of-type:before {
  content: '';
  height: 100%;
  width: 3rem;
  border-bottom-right-radius: 8px;
  position: absolute;
  background-color: #ff3366;
  right: 2rem;
  z-index: 5;
  
}

/* nav-logo */
nav .logo {
  /* font-size: 4rem; */
  text-transform: uppercase;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  grid-auto-flow: column;
}

nav .logo a {
  color: #ff3366;
}

nav .logo-right {
  display: inline-flex;
  align-items: center;
  background-color: #ff3366;
  padding: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
nav .logo-right a {padding-right: 3rem; color: #ffffff;}

/* nav-links */
nav .links {
  padding-top: 3rem;
  font-size: 2rem;
  list-style: none;
}

nav .links li {
  display: inline;
  padding: 1rem;
}
.claim {
  width: 100%;
  margin: 2rem;

}

.subContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

}

.kontakt {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* Content */
.content {
  /* padding-left: 5rem; */
  width: 100%;
  height: 100%;
  position: relative;
}

/* content-start */
.content .start {
  
}
.content .start .title {
  color: #ff3366;
  font-size: 2.5vw;
}

.content .start .paragraph {
  padding-top: 3rem;
  line-height: 3rem;
  font-size: 1.5vw;
  width: 50%;
}

.content .start .button {
  background: linear-gradient(140deg, #ff8484 5%, #ff3366 100%);
  box-shadow: rgba(255, 51, 102, 0.4) 10px 30px 60px 0px;
}


